<%- include('./partials/head'); %>
<body class="body">
    <section class="m-5">
        <ul>
            <h1>Información del proceso</h1>
            <li>Argumentos de entrada : <%= proceso.argumentos %></li>
            <li>Nombre Plataforma: <%= proceso.plataforma %></li>
            <li>Version de Node: <%= proceso.node_version %></li>
            <li>Memoria total reservada: <%= proceso.memory_rss %> bytes</li>
            <li>Path de ejecución: <%= proceso.path_exec %></li>
            <li>Process ID: <%= proceso.processid %></li>
            <li>Carpeta del proyecto: <%= proceso.carpeta %></li>
            <li>Cantidad de Procesadores: <%= proceso.cant_proc %></li>
        </ul>    
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>